@media (min-height: 900px) {
  .guide #sticky-map #blobby-mini { max-height: 250px; height: auto; }
}

#nitro-floating-wrapper.pgOtsFxd { position: absolute; right: unset; left: 0px; bottom: 0px; width: 404px; height: 250px; border: 1px solid #333; border-radius: 0px; }
#nitro-floating-wrapper.pgOtsFxd .pgOts .pgVMuteBtn, #nitro-floating-wrapper.pgOtsFxd .pgCloseBtn { z-index: 20; }
#nitro-close-button { display: none; }
body #blobby-left-inner { max-width: 300px; max-height: 250px; margin: 0px 0px 0px 106%; }
body.noPgOts #blobby-left-inner { left: auto; margin: 10px auto; }
#nitro-floating-wrapper.pgOtsFxd .pgOts.paused .pgCloseBtn { display: none; }

@media (max-width: 640px) {
  #nitro-floating-wrapper.pgOtsFxd { position: absolute; right: unset; left: 0px; bottom: 0px; width: 100%; aspect-ratio: 16/9; }
  div.pgOtsFxd .pgCloseBtn { right: 0px; }
  #blobby-overlay.pgOtsFxd { aspect-ratio: 16/9; height: auto; overflow: visible; }
}
@media (min-width: 640px) {
}

@media (min-width: 1920px) {
  body #nitro-floating-wrapper.pgOtsFxd { position: absolute; left: 0px; bottom: 0px; width: 480px; height: 272px; max-width: 480px; max-height: 282px; }
  body #blobby-left-inner { max-width: 300px; margin: 20px 0px 0px 105%; }
}
